body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tablink {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.tablink:hover {
    background-color: #777;
}

.tablink.active {
    background-color: #111;
}

.tabcontent {
    display: none;
    padding: 20px;
    background-color: white;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 10px;
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    display: block;
    margin: auto;
}
